/*This section is for the Home page*/
#header {
    
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, black, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 100px;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
    text-align: center;
    background-color: red;
    }
    @keyframes reveal {
        80%{
          letter-spacing: 8px;
        }
        100% {
          background-size: 300% 300%;
        }
      }
      @keyframes glow {
        40% {
          text-shadow: 0 0 8px yellow;
        }

    }
.top{
    background-color: black;
}
#nav{
    background-color: rgb(255, 10, 10) ;
    height: 70px;
    }

 div.body1{
     background-color:black;
 }

 .container1{
  align-items: center;

 }
.img1{
  width: 400px;
  height: 400px;
  padding: 10px;
  padding-block: 15px;
  margin:unset;
}
body{
  background-image: url('Images/Redbull.jpg');
  background-color: #cccccc;
}
}


/*This section will be for the FAQ Page*/








/*This section will be for the Contact-us Page*/
