
/*Cards*/
.img{
  width: 100%;
  height: 100%;
  display: flex;
  margin: -43px;
  padding: inherit;
}

.img .model {
    
    height: 407px;
    width: 414px;
    margin-left: -128px;
    padding: inherit;
}

.box{
  width: 200px;
  height: 610px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 37px 120px;
  padding: 50px;
}

/* About Cards*/
.card{
        width: 350px;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px #888;
        border-top: 10px solid red;
        min-height: 250px;
        padding: 10px;
        margin: 36px;
        display: inline flow-root list-item;
        }
      
    img{
      border-radius: 50%;
      width: 70px;
      margin: 10px;
    }

    h1{
      font-weight: lighter;
      margin-left: 100px;
      margin-top: -70px;
    }
    p{
      margin: 10px;
      font-family: segoe ui;
      line-height: 1.4em;
      font-size: 1.2em;
    }

    #mainbox{
      font-family: calibri;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
    flex-wrap: wrap;
    }

    .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:yellow;
}
.site-footer hr
{
  border-top-color:red;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: yellow;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
  .site-footer
  {
    padding-bottom:0
  }
  
/**/
* {
	box-sizing: border-box;
}

/*Nav*/
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
  min-height: 100vh;
  padding:20px;
  margin: 30px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: red;
}

a {
  text-decoration: none;
  margin: auto;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: white;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/*  
  Media Queries
 */
body {
  background: white;
  padding:20px;
  margin: 30px;
}

.details {
  font-size: 20px;
  font-weight: 200;
}



/* MEDIA QUERIES */

/* Mobile first, we start from the smallest viewport width */

/* From 320px and up */
@media (min-width: 320px) {
 body {
   background-color: blue;
 }
}

/* From 768px and up */
@media (min-width: 768px) {
  body {
    background-color: green;
  }
}

/* From 1824px and up */
@media (min-width: 2222px),(max-width: 1856px) {
  body {
    background-color: white;
  }
}

/*  max-width query */
/* From 850px and up, until 950px  */
@media (min-width: 923px) and (max-width: 1856px) {
  body {
    background-color: purple;
  }
}

@media (min-width: 1500px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/*This section will be for the Contact-us Page*/
.media-align{
  display: flex;

}