/*This section is for the Home page*/
#header {
    
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, black, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 100px;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
    text-align: center;
    background-color: red;
    }
    @keyframes reveal {
        80%{
          letter-spacing: 8px;
        }
        100% {
          background-size: 300% 300%;
        }
      }
      @keyframes glow {
        40% {
          text-shadow: 0 0 8px yellow;
        }

    }
.top{
    background-color: black;
    width: 100%;
}

  .footer{
    padding: 100%;
    width: 100%;
  }
 ul{
   float: center;
 }

a.home{
  font-size: 20px;
  color: black;
  float: inline-end;
}
a.faq{
  font-size: 20px;
  color: red;
  float: none;
}
a.contact{
    font-size: 20px;
    color: black;
}
div.size-img{
  width: 50%;
  height: 50%;
}
img.left{
  height: 900px;
  width: 100%;
}

/*This section will be for the FAQ Page*/








/*This section will be for the Contact-us Page*/
